.app-header {
  background-color: #e6b89c;
  padding: 10px;
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left,
.header-right {
  flex: 1;
  font-weight: bold;
  text-align: center;
}

.header-center {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.score-btn {
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.timer {
  font-size: 18px;
  font-weight: bold;
}

/* Pulserande beroende på vems tur. */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}

.header-left.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

.header-right.pulse {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
}
